<!DOCTYPE html>
<html lang="pt-br">
  {{ partial "header" . }}
  <body class="home blog logged-in admin-bar no-customize-support ">
    <div class="wrapper">
      <header id="branding" >
	{{ partial "head" . }}
	{{ partial "nav" . }}
      </header>
      <div id="main" class="container clearfix">
	<div id="container">
	  <div id="primary" class="no-margin-left">
	    <div id="content">
	      <header class="entry-header">
		<h1 class="entry-title">
                  {{with .Site.Data.l10n.page_not_found.title}}{{.}}{{end}}
		</h1>
	      </header>
	      <div class="entry-content clearfix">
		<p>{{with .Site.Data.l10n.page_not_found.subtitle}}{{.}}{{end}}</p>
		<h3>Isso pode ter acontecido porque:</h3>
		<ul>
		  <li>Você digitou o endereço da web incorretamente;</li>
		  <li>A página que você estava procurando pode ter sido movida, atualizada ou excluída.</li>
		</ul>
		<h3>Por favor, tente o seguinte:</h3>
		<ul>
		  <li>Verificar o endereço da URL digitado</li>
		  <li>Pressione o botão de atualização no seu navegador.</li>
		  <li>Volte para a <a href="/" title="{{ .Site.Title }}" rel="home">Pagina inicial</a></li>
		</ul>
	      </div>
	    </div>
	  </div><!-- #content -->
	</div><!-- #primary -->
	<div id="secondary">
	  {{ partial "widgets/categories" . }}
	  {{ partial "widgets/search" . }}
	</div><!-- #secondary -->
      </div><!-- #container -->   
    </div><!-- #main -->
    {{ partial "footer.html" . }}
  </body>
</html>
